<ion-content>
  <form [formGroup]="updatePrenotazioneForm" (ngSubmit)="updatePrenotazione()">
    <ion-row class="ion-text-center prima-row">
      <ion-col size="12" class="ion-no-padding prima-col">
        <ion-label class="prima-label">Modifica Prenotazione</ion-label>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-item class="input">
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" required formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="input">
          <ion-label position="floating">Cognome</ion-label>
          <ion-input type="text" required formControlName="surname"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item class="input">
          <ion-label>Data di Nascita</ion-label>
          <ion-input type="date" required formControlName="reservationDate">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12" class="ion-align-items-center">
        <ion-datetime presentation="time" locale="it-IT" formControlName="time" presentation="time" minuteValues="0,30,"
          hourValues="9,10,11,12,13,14,15,16,17,18" display-format="HH:mm" picker-format="HH:mm"
          class="timepicker"></ion-datetime>
      </ion-col>
      <ion-col size="12">
        <ion-button class="aggiornamento-button" type="submit" expand="block" 
          [disabled]="!updatePrenotazioneForm.valid">AGGIORNA PRENOTAZIONE</ion-button></ion-col>
    </ion-row>
  </form>
</ion-content>