<ion-content>

  <body class="background">
    <ion-row class="ion-no-padding" style="width: 100%; justify-content: center;text-align: center; height: 100%; ">
      <ion-col size="12" size-sm="6" class="ion-no-padding">
        <img src="https://th.bing.com/th/id/OIG2.Sv3YYoI5iIW0bbf9byTG?w=1024&h=1024&rs=1&pid=ImgDetMain"
          style="height: 100%;">
      </ion-col>
      <ion-col size="12" size-sm="6" class="ion-no-padding"
        style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <ion-label class="prima-label">REGISTRAZIONE</ion-label>
          <ion-row class="ion-no-padding"
            style="justify-content: center;margin-top: 20px;font-weight: bold;font-size: 25px;">
            <ion-label>Sei un medico? </ion-label><ion-toggle style="padding-top: 9px;margin-left:10px "
              (ionChange)="checkDoctor()"></ion-toggle>
          </ion-row>
          <ion-grid>
            <ion-row  class="ion-justify-content-center">
              <ion-col size="12">
                <ion-item class="input">
                  <ion-label position="floating">Nome</ion-label>
                  <ion-input type="text" required formControlName="name"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-item class="input">
                  <ion-label position="floating">Cognome</ion-label>
                  <ion-input type="text" required formControlName="surname"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-item class="input">
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" required formControlName="email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-item class="input">
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" required formControlName="password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-item class="input">
                  <ion-label position="floating">Data di nascita</ion-label>
                  <ion-input type="date" required formControlName="birthDate"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-item class="input">
                  <ion-label position="floating">Numero di cellulare</ion-label>
                  <ion-input type="number" placeholder="0000000000" required formControlName="phone"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>


            <!-- //se sei un medico -->
            <ng-container *ngIf="isDoctor">
              <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                  <ion-item class="input">
                    <ion-label position="floating">Durata Visita Media</ion-label>
                    <ion-input type="time" required formControlName="visitDuration"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                  <ion-item class="input">
                    <ion-label position="floating">Specializzazione</ion-label>
                    <ion-input type="text" required formControlName="specialization"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ng-container>

            <ion-row class="ion-justify-content-center">
              <ion-col size="12">
                <ion-item class="input">
                  <ion-input type="file" accept="image/*" (change)="uploadImage($event)"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-row  class="ion-justify-content-center">
            <ion-col size="12">
              <ion-button class="registrati-button" type="submit" size="large" style="width: 500px;"
                [disabled]="!registrationForm.valid">REGISTRATI</ion-button></ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </body>
</ion-content>