.input {
  --background: white;
  color: black;
  border-radius: 25px;
  margin-top: 40px;
  width: 600px;
  justify-content: center;
}

.prima-label {
  text-align: center;
  margin-top: 30px;
  font-size: 29px;
  font-weight: bolder;
}

.registrati-button {
  --border-radius: 20px;
  width: 500px;
}

ion-input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toggle-medico {
  margin-top: 8.5px;
  margin-left: 10px;
}

.background {
  background-image: url("/src/assets/icon/studio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.row-principale {
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.image {
  height: 100%;
}

.col-principale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-label {
  justify-content: center;
  margin-top: 20px;
  font-size: 25px;
}