.display-flex {
  display: flex;
}

ion-card-header {
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
  font-weight: bolder;
  color: black;
}

ion-card-title {
  margin-left: 10px;
}

ion-card-subtitle {
  margin-left: 10px;
  margin-bottom: 30px;
}

.declined {
  background-color: #F33203;
}

.accepted {
  background-color: #67EA00;
}

.pending {
  background-color: #FEFE18	;
}

.input{
  padding: 20px;
}
.colore-bottoni{
  --background:var(--ion-color-btn)
}

