.input {
    --background: white;
    color: black;
    border-radius: 25px;
    margin-top: 40px;
    width: 600px;
    justify-content: center;
  }
  
  ion-input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 170px;
  }