.table-bordered[_ngcontent-jto-c5] {
    border: 1px solid #ddd !important;
}

.selectDoctor {
    box-shadow:  0 16px 20px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    max-width: 380px;
    background-color: #fafafa;
    padding: 13px 8px 13px 16px;
}