.selectDoctor {
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    max-width: 380px;
    background-color: #fafafa;
    padding: 13px 8px 13px 16px;
}

.prima-row {
    max-width: 100%;
    text-align: center;
}

.prima-col {
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.row-timepicker{
    max-width: 100%;
}
.col-button-scelta-mese{
    margin-top: 20px;
}
.button{
    width: 250px;
}

.timepicker {
    max-width: 449px;
    margin-left: 68px;
    margin-top: 150px;
    border-radius: 29px;
}