.prima-label {
  text-align: center;
  margin-top: 30px;
  font-size: 29px;
  font-weight: bolder;
}
.input {
  --background: white;
  color: black;
  border-radius: 25px;
  margin-top: 40px;
  width: 600px;
  justify-content: center;
}

ion-input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
  display: flex;
}
.seconda-label {
  color: black;
  text-align: center;
  margin-top: 22px;
  font-size: 23px;
  font-weight: bold;
}
.terza-label{
    margin-top: 10px;
    color: black;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}
.button-registrati{
    text-align: center;
    margin-top: 18px;
    zoom: 1.1;
    }
.accesso{
    text-align: center;
    margin-top:25px;
    zoom: 1.2;
}
ion-checkbox{
  --size: 32px;
  --checkbox-background-checked: green;
}
ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid green;
}
