<ion-content>
  <ion-row class="ion-no-padding content">
    <ion-col size="12" size-sm="6" class="ion-no-padding">
      <img src="https://th.bing.com/th/id/OIG4.T8IEq4UumQZxNBmwNgOK?w=1024&h=1024&rs=1&pid=ImgDetMain"
        style="height: 100%;">
    </ion-col>
    <ion-col size="12" size-sm="6" class="ion-no-padding col-principale">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-row class="ion-no-padding row-label-login">
          <ion-label>Login</ion-label>
        </ion-row>
        <ion-row class="ion-no-padding row-label-secondaria">
          <ion-label>Effettua adesso l'accesso per accedere ai nostri servizi</ion-label>
        </ion-row>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-item class="input">
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" required formControlName="username">
              </ion-input>
            </ion-item>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-item class="input">
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" required formControlName="password">
              </ion-input>
            </ion-item>
          </ion-row>
        </ion-grid>

        <ion-row class="ion-justify-content-center row-ricordami-button">
          <ion-checkbox [value]="isChecked" (ionChange)="changeValue()">Ricordami</ion-checkbox>
        </ion-row>
        <ion-row class="ion-no-padding">
          <ion-col size="12">
            <ion-button class="button-accedi" color="primary" type="submit" size="large"
              [disabled]="!loginForm.valid">ACCEDI</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center terza-label">
          <ion-label class="terza-label">Non sei registrato? Premi qui sotto per farlo
            subito!</ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-button class="button-registrazione" color="primary" size="large" (click)="goToRegistrazione()"> Registrati
          </ion-button>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>