<ion-content [fullscreen]="true">
  <app-header></app-header>
  <ion-row class="row">
    <ion-col size="2">

    </ion-col>
    <ion-col size="8" class="ion-no-padding ion-text-center">
      <div class="div">

        <ion-label class="prima-label">Benvenuto nel portale dei tuoi dottori di
          fiducia!</ion-label>
        <br />
        <ion-label class="seconda-label">Benvenuto nel portale dei tuoi dottori di
          fiducia!</ion-label>
      </div>
    </ion-col>
    <ion-col size="2">

    </ion-col>
  </ion-row>
  <ion-row class="row-card">
    <ion-col size="4" class="col-card" *ngFor="let doctor of doctorList" class="ion-no-padding">

      <ion-card class="ion-no-padding card">
        <ion-card-header style="height: 70%" class="ion-no-padding card">
          <img class="background-card"
            src="https://static.vecteezy.com/system/resources/previews/025/799/232/large_2x/linkedin-banner-with-abstract-geometric-background-and-lines-network-connection-free-photo.jpg">
          <ion-avatar class="avatar">
            <img class="image-avatar" src="{{doctor.url}}" />
          </ion-avatar>
        </ion-card-header>

        <ion-card-content class="ion-no-padding">
          <ion-row style="margin-top: 20px">
            <ion-col size="8" class="ion-no-padding">
              <ion-card-title style="margin-left: 20px">{{doctor.name}} {{doctor.surname}}</ion-card-title>
              <ion-card-subtitle style="margin-left: 20px">{{doctor.specialization}}</ion-card-subtitle>
            </ion-col>
            <ion-col size="4" class="ion-no-padding">
              <ion-button class="button-reservation" (click)="buttonReservation(doctor.id ?? '')">Prenota
                ora</ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>