.row {
  height: 500px;
  background-image: url('https://static.vecteezy.com/system/resources/previews/025/799/232/large_2x/linkedin-banner-with-abstract-geometric-background-and-lines-network-connection-free-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.col-card {
  display: flex;
  justify-content: center;
  text-align: left;
}

.row-card {
  display: flex;
}

img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.avatar {
  --border-radius: 140px;
  width: 37%;
  height: 37%;
  zoom: 0.7;
  margin-top: -190px;
  margin-left: 37%;
  margin-bottom: 45px;
}

.background-card {
  height: 200px;
  width: 590px;
  margin: auto;
  border-radius: 25px;
}

.image-avatar {
  height: 225px;
  width: 67%;
  object-fit: cover;
  border: solid 10px white;
}

.div {
  margin-top: 135px;
}

ion-label {
  color: #082e4b;
}

.prima-label {
  font-size: 52px;
}

.seconda-label {

  font-size: 32px
}

.card {
  height: 350px;
  border-radius: 25px;
  width: 630px;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
.button-reservation{
  margin-left: 40px;
}
